body{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue Thin';
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/helveticaneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_thin-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/*Menu*/

nav{
  width: 100vw;
  height: 37px;
  background: #085697;
  overflow: hidden;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 95%;
}

nav li{
  float: left;
  position: relative;
  left: -95%;
}

.li_main{color: white;}

.li_main a{
  color: white;
  font-weight: bold;
  padding: 10px 5px;
}

.minhas{
  border-left: 1px solid #60b5ed;
  margin-right: 10px;
}

.fa-font-awesome-flag{
  padding: 0 10px 0 15px;
  color: white
}

nav li a{
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  background: #085697;
  color: #60b5ed;
  font-size: 16px;
  text-decoration: none;
}

nav li a::after{
  color: #60b5ed;
  text-decoration: none;
}

nav li a:hover{
  background: #4eabda;
  font-weight: bold;
  color: white;
}

.li_main a:hover{
  background: linear-gradient(to top, #2e7ac4, #51b1dc);
}

/*Photo*/

.middle{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vw;
  padding-top: 15vh;

}

/*Form*/

.top{
  height: 60px;
  width: 50%;
  margin: 0 auto 0 auto;
  background: rgba(0, 0, 0, 0.65);
}

.top p{
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 60px;
  margin: 0 0 5px 0;
  text-align: center;
}

.bottom{
  height: 620px;
  width: 50%;
  margin: 2px auto 0 auto;
  background: rgba(0, 0, 0, 0.65);
  font-size: 16px;
}

.fb {
  text-align: center;
  padding: 30px 0 25px 0;
}

.ou p{
  color: #999999;
  float: left;
  position: relative;
}

.hr1, .hr2{
  float: left;
  width: 24%;
  margin-bottom: 20px;
}

.hr1{
  margin-left: 24%;
  margin-right: 5px;
}

.hr2{
  margin-left: 5px;
}

.in{
  display: block;
  margin: 0 auto 25px auto;
  width: 48%;
  border: 0;
  padding: 12px 20px;
  background-color: black;
  font-size: 16px;
  color: white;
  font-family: 'Helvetica Neue Thin';
}

.in:focus{
  -webkit-box-shadow: 0px 0px 20px 0px #689ccc;
  box-shadow: 0px 0px 20px 0px #689ccc;
  background-color: #1b5288;
  border: 0;
}

::-webkit-input-placeholder{
  color: white;
  font-family: 'Helvetica Neue Thin';
}

.checkbox{
 color: white;
 text-align: center;
}

.submit{
  text-align: center;
  margin: 25px;
}

.in_sub{
  color: white;
  font-family: 'Helvetica Neue Thin';
  font-weight: bold;
  background: linear-gradient(to top, #2e7ac4, #51b1dc);
  border: 0;
  padding: 12px 15px;
  width: 30%;
}

.bottom p{
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 5px 0;
}
