*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}
.wrapper{
  width: 800px;
  margin: 200px auto;
  padding: 30px 80px 50px;
  border: 3px solid #eee;
}
.testName{
  text-align: center;
  margin-bottom: 30px;
}
.ul p{
  margin-bottom: 10px;
}
.li{
  padding-left: 35px;
  list-style: none;
}
li p{

}
input[type='submit'] {
  margin: 40px auto 0;
  display: block;
  width: 50%;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #c4e0ff;
  color: black;
}
input[type='checkbox'] {
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}
